*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height: 80px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12 px;
    position: relative;
}
.nav-links ul li a{
    color: black; /* Set initial link color to black */
    text-decoration: none; /* Remove underline on links if desired */
    transition: color 0.3s; /* Smooth transition effect for color change */
}
.nav-links ul li a:hover{
    color: #FF00B8; /* Change text color to pink on hover */
}

.text-box{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    text-align: center;
    font-size: 48px;
}

.about-text{
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.about-text text{
    text-align: center;
    font-size: 16px;
}

@media(max-width: 700px){
    .text-box h1{
    font-size: 16px;
    }
}